body{
    background-color: #181818;
    font-family: sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
    width: 100%;
    background-color: #ebebeb;
    border-bottom: 4px solid gray;
    display: flex;
    justify-content: space-between;
}

header img{
    width: 70px;
    height: 70px;
    margin: 10px;
    margin-left: 100px;
}

h1{
    margin-left: 10px;
    font-size: 2rem;
    margin-top: 28px;
}

.contenedor-logo{
    display: flex;
    flex-direction: row;
    
}

.contenedor-menu{
    margin-top: 25px;
}

input[type=text]{
    width: 400px;
    height: 32px;
    border: 3px solid gray;
    border-radius: 7px;
    font-size: 0.9rem;
    margin-right: 5px;
}

button{
    width: 90px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1rem;
    transition: 0.15s ease;
}

button:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.boton-buscar{
    background-color: whitesmoke;
    margin-right: 30px;
    border: 3px solid gray;
}

.boton-buscar:hover{
    background-color: lightgray;
}

.boton-login{
    background-color: #4d4d4d;
    color: white;
    margin-right: 100px;
    border: 3px solid darkgray;
}

.boton-login:hover{
    background-color: #6e6e6e;
}

button:active{
    transform: scale(1);
}

.carrusel{
    max-width: 1200px;
    max-height: 750px;
    position: relative;
    margin: 10px auto;
    margin-top: 40px;
    background-color: #c0c0c0;
    border-radius: 10px;
}

.carrusel img{
    width: 1200px;
    height: 750px;
    border-radius: 10px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 20px;
    margin-top: -45px;
    padding: 10px;
    color: #ebebeb;
    font-weight: bold;
    font-size: 32px;
    transition: 0.15s ease;
    user-select: none;
    border-radius: 50%;
}

.prev{
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    color: gray;
    transform: scale(1.3);
}

.prev:active, .next:active {
    transform: scale(1);
}

.creditos {
    color: whitesmoke;
    font-size: 1.2rem;
    padding: 10px 20px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: left;
  }

.botones-carrusel{
    cursor: default;
    position: relative;
    top: -40px;
}

.boton {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #ebebeb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.2s ease;
    border: 2px solid gray;
}

.active, .boton:hover {
    background-color: gray;
}

h2{
    color: #ebebeb;
    font-size: 2.5rem;
    margin-top: 50px;
}

.grid-galeria{
    padding: 20px 0 80px 0;
    display: grid;
    grid-template-columns: repeat(3, 0.1fr);
    grid-column-gap: 60px;
    grid-row-gap: 80px;
    justify-content: center;
    margin: auto;
}

.elemento-grid{
    background-color: #ebebeb;
    border: 4px solid gray;
    border-radius: 10px;
    text-align: left;
    transition: 0.2s ease;
    max-width: 400px;
}

.elemento-grid p{
    margin: 12px;
    font-size: 1.1rem;
}

strong{
    font-size: 1.2rem;
}

.elemento-grid img{
    border-radius: 6px 6px 0px 0px;
    width: 400px;
    height: 250px;
    border-bottom: 4px solid gray;
}

.elemento-grid:hover{
    transform: translateY(-10px);
    box-shadow: 6px 8px 0px rgb(59, 59, 59);
}
  
footer{
    width: 100%;
    background-color: #ebebeb;
    border-top: 4px solid gray;
}

footer p{
    font-size: 16px;
    margin-top: 10px;
}

.contenedor-redes{
    margin-top: -10px;
    margin-bottom: 5px;
}

.contenedor-redes img{
    width: 32px;
    height: 32px;
    margin: 0px 2px;
}

.contenedor-redes img:hover{
    cursor: pointer;
}
