body{
    background-color: #252525;
    font-family: sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
    width: 100%;
    background-color: whitesmoke;
    border-bottom: 4px solid darkgray;
    display: flex;
}

.carrusel{
    width: 1000px;
    height: 400px;
    position: relative;
    margin: 10px auto;
    background-color: rgb(77, 77, 77);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 20px;
    margin-top: -45px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    transition: 0.2s ease;
    user-select: none;
    border-radius: 50%;
}

.prev{
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    color: darkgray;
    transform: scale(1.22);
}

.prev:active, .next:active {
    transform: scale(1);
}

.botones-carrusel{
    cursor: default;
    position: relative;
    top: -40px;
}

.boton {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.2s ease;
}

.active, .boton:hover {
    background-color: gray;
  }

.contenedor-redes{
    margin-top: -10px;
    margin-bottom: 5px;
}

.contenedor-redes img{
    width: 32px;
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: whitesmoke;
    border-top: 4px solid darkgray;
}