body{
    background-color: #252525;
    font-family: sans-serif;
    color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
    width: 100%;
    background-color: whitesmoke;
    border-bottom: 4px solid darkgray;
    display: flex;
}

.carrusel{
    width: 1000px;
    height: 400px;
    position: relative;
    margin: 10px auto;
    background-color: rgb(77, 77, 77);
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 20px;
    margin-top: -45px;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 32px;
    transition: 0.2s ease;
    user-select: none;
    border-radius: 50%;
}

.prev{
    left: 0;
}

.next {
    right: 0;
}

.prev:hover, .next:hover {
    color: darkgray;
    transform: scale(1.22);
}

.prev:active, .next:active {
    transform: scale(1);
}

.creditos {
    color: whitesmoke;
    font-size: 14px;
    padding: 0px 10px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: left;
  }

.botones-carrusel{
    cursor: default;
    position: relative;
    top: -40px;
}

.boton {
    cursor: pointer;
    height: 14px;
    width: 14px;
    margin: 0 2px;
    background-color: whitesmoke;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.2s ease;
}

.boton:hover {
    background-color: gray;
}

h2{
    color: #f0f0f0;
    font-size: 32px;
}

.grid-galeria{
    padding: 50px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto; 
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: center;
    justify-self: center;
    max-width: 1200px;
}

.elemento-grid{
    background-color: white;
    border: 2px solid darkgray;
    border-radius: 10px;
    text-align: left;
    max-width: 400px;
    max-height: 200px;
    padding: 15px;
}

.elemento-grid p{
    border-top: 2px solid darkgray;
}
  
footer{
    width: 100%;
    background-color: whitesmoke;
    border-top: 4px solid darkgray;
}

footer p{
    font-size: 15px;
    margin-top: 10px;
}

.contenedor-redes{
    margin-top: -10px;
    margin-bottom: 5px;
}

.contenedor-redes img{
    width: 32px;
    height: 32px;
}

.contenedor-redes img:hover{
    cursor: pointer;
}
